extends layout

block content
  form(action="/login/new" method="post" class="loginForm")
    input(type="text" name="Username")
    input(type="password" name="Password")
    input(type="submit" value="Login")
  h2(style=`color:red`)= message
